<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ejemplo.ignacio.ejemplo" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/foto_book"
        android:label="Photo Book"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="Photo Book" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity2"
            android:label="Iniciar Sesión"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ejemplo.ignacio.ejemplo.MainActivity" />
        </activity>
        <activity
            android:name=".Activity3"
            android:label="@string/title_activity_activity3"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ejemplo.ignacio.ejemplo.MainActivity" />
        </activity>
        <activity
            android:name=".Home"
            android:label="@string/title_activity_home"
            android:parentActivityName=".Activity2" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ejemplo.ignacio.ejemplo.MainActivity" />
        </activity>
    </application>

</manifest>
